/* importation of fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto+Condensed&family=Sofia&display=swap');

 :root{
     --light-gray:#2b3032a1;
     --primary-color:#3bbba8;
     --border:#2b303118;
     --text-color:#ff686b;
     --roboto:"Roboto",sans-serif;
     --gugi:"Gugi",cursive;
     --sofia:"Sofia",cursive;
 }

 .primary-color{
     color: var(--primary-color);
 }
 .bg-primary-color{
     background-color: var(--primary-color)!important;
 }
 .text-color{
     color: var(--text-color);
 }
 .font-roboto{
     font-family: var(--roboto);
 }
 .lightblue{
     color: lightblue;
 }
 header{
     background-color: var(--primary-color);
     font-family: var(--roboto);
 }
 header .site-title{
     font-family: var(--gugi);
 }
.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}
.header-links a{
    font-size: 0.9em;
    text-decoration: none;color: white;

}
/* nav */
.navbar-nav{
    padding: 0.8em 0em;
    
}
.navbar-nav .nav-link{
 font-size: 0.9em;
 color: var(--light-gray)!important;
}
.navbar-nav.nav-item.nav-link{
    padding: 0 1.3em;
}
.navbar-nav.basket-icon{
    margin-right:6.5rem !important;
}
/* .section-title{
    width:80px ;
    height: 4px;
    background-color:var(--primary-color) ;
    margin: auto;
    margin-bottom:40px ;
} */
/* slider1 */
.site-slider{
    position: relative;
}
.position-top{
    position: absolute;
    top:50%;
}
.site-slider.slider-btn.prev,
.site-slider.slider-btn.next{
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    opacity: 0;

}
.site-slider:hover.slider-btn.prev,
.site-slider:hover.slider-btn.next{
    opacity: 1;
}
.right-0{
    right: 0;
}
.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}
.slick-dots li{
    margin: 0 0.6rem;
}
.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent:-99999px;
    border-radius: 100%;
}
.slick-dots li.slick-active button{
 transform: scale(2.5);
 box-shadow: 0px 3px 5px 1px rgba(0,0,0,0);
}
img{
    max-width: 100%;
}
.set-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.section-title{
    margin-bottom: 45px;
}

.section-title h4{
    color: #111111;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
.section-title h4::after{
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 3px;
    width:100px;
    content: "";
}
.product_item{
    margin-bottom: 35px;
}
.product_item:hover .product_hover li{
   opacity: 1;
   top: 0;
}
.product_item_pic{
    height: 360px;
    position: relative;
    overflow: hidden;
}
.product_hover{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 30px;
    text-align: center;
}
.product_hover li{
  list-style: none;  
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 100px;
  opacity: 0;
}
.product_hover li:nth-child(1){
    transition: all 0.4s ease 0.1s;
}
.product_hover li:nth-child(2){
    transition: all 0.4s ease 0.15s;
}
.product_hover li:nth-child(3){
    transition: all 0.4s ease 0.2s;
}
.product_hover li:last-child{
    margin-right: 0;
}
.product_hover li:hover a{
    background: #ff686b;
}
.product_hover li:hover a span{
    color: #fafafa;
    transform: rotate(360deg);
}
.product_hover li a{
    font-size: 20px;
    color: black;
    display: block;
    height: 45px;
    width: 45px;
    background: #ffffff;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s;
}
.product_hover li a span{
    position: relative;
    transform: rotate3d(0);
    transition: all,0.3s;
    display: inline-block;
}
.product_item_text .rating i{
    font-size:14px ;
    color: gold;
}
.our-team{
    text-align: center;
    font-size: 40px;
    font: weight 500; ;
}
.b-border{
    width:80px ;
    height: 4px;
    color: #434343;
    background-color:var(--primary-color) ;
    margin: auto;
    margin-bottom:40px ;

}
.member-image{
    box-shadow:  16px 16px 32px #d4d4d4, 
             -16px -16px 32px #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-size: cover;
    object-fit: cover;

}
.member-image.m1{
   background-image: url('../assets/t3.jpg');
}
.member-image.m2{
    background-image: url('../assets/t6.jpg');
 }
 .member-image.m3{
    background-image: url('../assets/t2.jpg');
 }
 .name{
     font-weight: 300;
     color:rgb(129, 5, 47) ;
 }
 .testimonials{
     padding: 40px 0;
     background: #f1f1f1;
     color: #434343;
     text-align: center;
 }
 .inner{
     max-width: 1200px;
     margin: auto;
     overflow: hidden;
     padding: 0 20px;
 }
 .bord{
     width: 160px;
     height: 4px;
     background: var(--primary-color);
     margin: 20px auto;
 }
 .row{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
 .col{
   flex: 33.33%; 
   max-width: 33.33%; 
   box-sizing: border-box;
   padding: 15px;
 }
 .testimonial{
     background: #fff;
     padding: 30px;
 }
 .testimonial img{
     width: 250px;
     height: 250px;
     border-radius: 50%;
 }
 .title{
     font-size: 20px;
     text-transform: uppercase;
     margin: 20px 0;
 }
 .stars{
     color: var(--primary-color);
     margin-bottom:20px;
 }
 
 footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #010911;

 }
 .footer > *{
     flex: 1 100%;
 }
 .footer-left{
     margin-right: 1.25em;
     margin-bottom: 2em;
 }
 .footer-left img{
     width: 50%;
 }
 /* h2{
     font-weight: 600;
     font-size: 17px;
 } */
 .footer ul{
     list-style: none;
     padding-left: 0;
 }
 .footer li{
     line-height: 2em;
 }
 .footer a{
     text-decoration: none;
 }
 .footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow:row wrap ;
 }
 .footer-right > *{
     flex:1 50%;
     margin-right: 1.25em;
 }
 .box a{
     color: #999;
 }
 .footer-bottom{
     text-align: center;
     color: #999999;
     padding-top: 40px;
 }
 .footer-left p{
     padding-right: 20%;
     color: #999;
 }
.socials a{
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}
.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}
@media screen and (min-width:600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}
@media (max-width : 600px){
    .footer{
        padding: 15px;
    }
    main{
        font-size: 55px;
    }
}
 